<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApplicationIdentity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ApplicationIdentity</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
             <div class="collapse navbar-collapse mr-3 " id="navbarNav">
                <ul class="navbar-nav">
                    @if (User != null && User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active mr-3 float-right">
                            <a class="nav-link text-success" href="#">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item mr-3 float-right">
                            <a class="nav-link text-success  mr-3" asp-area="" asp-controller="Auth" asp-action="Logout"><i class="fas fa-user"></i> Logout</a>
                        </li>
                    }
                    else
                    {
                        <a class="nav-link text-success  mr-3" asp-area="" asp-controller="Auth" asp-action="Login"><i class="fas fa-user"></i>Login</a>
                    }
                    <li class="nav-item float-right">
                        <a class="nav-link text-success " asp-area="" asp-controller="Staff" asp-action="RegisterStaff"><i class="fas fa-user"></i>Sign up</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ApplicationIdentity - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
